.coll-page{
    display: grid;
    place-items: center;
    background-color: white;
}
.collections{
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1;
   flex-wrap: wrap;
}
.coll-page > h1{
    padding: .4rem 2rem;
    display: grid;
    text-shadow: 0 10px 10px rgba(0, 0, 0, 0.116);
    place-items: center;
}   


.collection-banner{
    background-position: center;
    background-size:cover;
     width: 100vw;
     height: 30vh;
}